<div class="container">
  <% if !flash[:alert].nil? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading">맛집 게시글 수정하기</h3>

      <%= form_tag '/foods/edit_complete', method: 'post' do %>
          <input type="hidden" name="id" value="<%= @post.id %>">
          <p>+ 분류
            <select name="post_category">
              <option valie="한식">한식</option>
              <option valie="일식">일식</option>
              <option valie="중식">중식</option>
              <option valie="양식">양식</option>
            </select>
          </p>
          <p><input class="form-input" type="text" name="post_title" value="<%= @post.title %>"></p>
          <p><textarea class="form-textarea" name="post_content"><%= @post.content %></textarea></p>
          <%= submit_tag '수정하기', class: "btn btn-lg btn-block" %>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>