<p><%= flash[:alert] %></p>
<h2>맛집 정보 보기</h2>

<div style="border: 1px solid #ffffff">
  <h4>제목 : <%= @post.title %></h4>
  <p style="color: #ff0000">분류 : <%= @post.category %></p>
  <p>내용 : <%= @post.content %></p>
  <p><%= link_to '수정', "/foods/edit/#{@post.id}" %> | <%= link_to '삭제', "/foods/delete_complete/#{@post.id}",
                                                                  confirm: {message: '정말로 지우시겠습니까?'} %></p>
  <hr/>
  <% @post.comments.each do |comment| %>
      <p><strong>아이디</strong> <%= comment.content %> | <%= link_to '삭제', "/foods/delete_comment_complete/#{comment.id}" %></p>
  <% end %>
  <%= form_tag '/foods/write_comment_complete', method: 'post' do %>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <p>작성자 아이디 : <input type="text" name="comment_content" placeholder="댓글 내용을 입력하세요.">
      <%= submit_tag '달기' %></p>
  <% end %>
  <p><%= link_to '전체 리스트 가기', '/' %></p>
</div>