<h4><%= link_to 'Steve의 맛집 평가', '/' %> || <%= link_to '한식', '/korean'%> | <%= link_to '일식', '/japanese'%>
  | <%= link_to '중식', 'chinese'%> | <%= link_to '양식', '/western'%>|| <%= link_to '글쓰기', '/foods/write' %> ||
  <% if session[:user_id].nil? %>
      <%= link_to '회원가입', '/users/signup' %> || <%= link_to '로그인', '/users/login' %>
  <% else %>
      <%= link_to '로그아웃', '/users/logout_complete' %>
  <% end %>
</h4>
