<div class="container">
  <h1 class="service-title"><%= link_to 'Steve의 맛집 평가', '/', class: 'service-title-link' %></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to '한식', '/korean' %></li>
      <li><%= link_to '중식', 'chinese' %></li>
      <li><%= link_to '일식', '/japanese' %></li>
      <li><%= link_to '양식', '/western' %></li>
      <li><%= link_to '글쓰기', '/foods/write' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id].nil? %>
          <li><%= link_to '회원가입', '/users/signup' %></li>
          <li><%= link_to '로그인', '/users/login' %></li>
      <% else %>
          <li><%= link_to '로그아웃', '/users/logout_complete' %></li>
      <% end %>
    </ul>
  </div>
</nav>